# Virtual environment
venv/
*/venv/
.venv/
env/
*/env/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor specific
.vscode/
.idea/

# Other common ignores (add/remove as needed)
*.log
*.tmp
*.swp
